In [6]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [7]:
df=pd.read_csv('copy_data.csv')

In [8]:
df['Day']=pd.to_datetime(df['Day'])

In [9]:
df['Year']=df['Day'].dt.year
df['Month']=df['Day'].dt.month
df['Day']=df['Day'].dt.day

In [12]:
df.drop(['Avg_Temperature','Avg_Rainfall','Avg_Electric_Consumption'],axis=1,inplace=True)
df.head()

   Day  Avg_Humidity  Year  Month  DayOfWeek
0    1     52.687346  2017      1          6
1    2     54.868454  2017      1          0
2    3     47.992009  2017      1          1
3    4     53.905718  2017      1          2
4    5     52.093167  2017      1          3

In [14]:
df.drop('DayOfWeek',axis=1,inplace=True)

In [15]:
df.head()

   Day  Avg_Humidity  Year  Month
0    1     52.687346  2017      1
1    2     54.868454  2017      1
2    3     47.992009  2017      1
3    4     53.905718  2017      1
4    5     52.093167  2017      1

KeyboardInterrupt

In [25]:
features = ['Day', 'Month', 'Year']
target = 'Avg_Humidity'

X = df[features].values
y = df[target].values

# Normalize features
scaler_X = MinMaxScaler()
X_scaled = scaler_X.fit_transform(X)

scaler_y = MinMaxScaler()
y_scaled = scaler_y.fit_transform(y.reshape(-1, 1)).ravel()

# Reshape X for LSTM [samples, time steps, features]
X_reshaped = X_scaled.reshape((X_scaled.shape[0], 1, X_scaled.shape[1]))

# Split data
X_train, X_test, y_train, y_test = train_test_split(X_reshaped, y_scaled, test_size=0.2, random_state=42)

In [26]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense

# Define the model
model = Sequential()
model.add(LSTM(units=50, input_shape=(X_reshaped.shape[1], X_reshaped.shape[2])))
model.add(Dense(1))

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error',)

# Train the model
history = model.fit(X_train, y_train, epochs=10, batch_size=1, validation_split=0.2, verbose=1)

C:\Users\hetbh\AppData\Roaming\Python\Python311\site-packages\keras\src\layers\rnn\rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Epoch 1/10

AttributeError: module 'keras.src.backend' has no attribute 'convert_to_numpy'